@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext.ttf');
}

.avenir-next {
   font-family: "AvenirNext", sans-serif;
}

.w6 {
  width: 10rem;
}

.dn-0 { display: none; }
.dn-1 { display: none; }
.dn-2 { display: none; }
