@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext.ttf');
}

.avenir-next { font-family: "AvenirNext", sans-serif; }

.bar { height: 5px; }

.active-circle {
   width: 1.6rem;
   height: 1.6rem;
}

.absolute-center {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.w6 {
  width: 10rem;
}

.dn-0 { display: none; }
.dn-1 { display: none; }
.dn-2 { display: none; }
