@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext.ttf');
}

@font-face {
  font-family: 'Nunito-Black';
  src: url('../fonts/Nunito-Black.ttf');
}

.avenir-next { font-family: "AvenirNext", sans-serif; }

.nunito { font-family: "Nunito-Black", sans-serif; }

.bar {
  height: 5px;
  width: 250px;
  top: 283px;
}

.quiz-bar { height: 7px; }

.active-circle {
   width: 1.6rem;
   height: 1.6rem;
}

.absolute-center {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.w6 {
  width: 10rem;
}

.dn-0 { display: none; }
.dn-1 { display: none; }
.dn-2 { display: none; }

/*.right-5-m {
  right: 6em;
}

.remove-link {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 1em;
  width: 1em;
}*/
